body {
    background-color: #e3e3e3;
}
header {
    width: 100vw;
    height: 15vh;
    background-color: #2f2f2f;
}

.whiteBlock {
    background-color: #fff;
    height: 75vh;
    width: 80vw;
    margin: auto;
}

footer {
    background-color: #050505;
    height: 10vh;
    width: 80vw;
    margin: auto;
}

